/*
Theme Name:     Learn Press Education
Theme URI:      https://sparklewpthemes.com/wordpress-themes/learn-press-education/
Author:         sparklewpthemes
Author URI:     https://sparklewpthemes.com/
Description:    Learn Press Education is a WordPress theme to learn anything from anywhere. Learn Press Education Theme is compatible with Learn Press Plugin and that helps to create and sell online/offline courses, Training, Speakers, Coaching, etc easily.
Version:        1.0.9
Tested up to:   6.2
Requires PHP:   5.6
License:        GNU General Public License v3 or later
License URI:    http://www.gnu.org/licenses/gpl-3.0.html
Template:       educenter
Text Domain:    learn-press-education
Tags:           one-column, two-columns, right-sidebar, left-sidebar, custom-header, custom-background, custom-menu, translation-ready, featured-images, theme-options, custom-logo, e-commerce, footer-widgets

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Learn Press Education is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
SparkleWPThemes is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/


/**
 * Header
*/

.headerone .bottom-header {
    position: relative;
    padding: 25px 0;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    z-index: 99;
}

.headerone .is-sticky .bottom-header {
    padding: 5px 0;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.headerone .bottom-header .contact-info {
    width: 75%;
    text-align: right;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch ul li h4 {
    text-align: left;
    line-height: 1;
    margin-bottom: 0;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch i,
.headerone .bottom-header .contact-info .quickcontact .get-tuch ul {
    display: inline-block;
    margin: 0 2px;
    vertical-align: middle;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch ul li p {
    margin: 0;
    font-size: 16px;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch i {
    font-size: 17px;
    color: #004A8D;
    margin-right: 8px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
}

.general-header .top-header .contact-info ul li.fa {
    font-weight: 700;
}

.edu-topnav ul li.fa:before {
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
}


/**
 * Main Menu
*/

.headerone .nav-menu {
    position: relative;
    z-index: 99;
}

.headerone .nav-menu .box-header-nav {
    position: relative;
}

.headerone .nav-menu .box-header-nav:before {
    background: #fff;
    content: "";
    height: 83px;
    left: -34px;
    position: absolute;
    top: -42px;
    -webkit-transform: rotate(-38deg);
    -moz-transform: rotate(-38deg);
    -ms-transform: rotate(-38deg);
    -o-transform: rotate(-38deg);
    transform: rotate(-38deg);
    width: 66px;
}

.headerone .nav-menu .box-header-nav:after {
    background: #fff;
    content: "";
    height: 83px;
    position: absolute;
    right: -34px;
    top: -42px;
    -webkit-transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    -o-transform: rotate(38deg);
    transform: rotate(38deg);
    width: 66px;
}

.headerone .nav-menu .box-header-nav {
    float: none;
    background: #fff;
}

.headerone .box-header-nav>.main-menu {
    text-align: center;
}

.headerone .box-header-nav .main-menu .page_item a,
.headerone .box-header-nav .main-menu>.menu-item>a {
    line-height: 30px;
}

.headerone .box-header-nav .main-menu>ul>.page_item,
.headerone .box-header-nav .main-menu>.menu-item {
    display: inline-block;
    float: none;
}

.box-header-nav .main-menu .children>.page_item>a,
.box-header-nav .main-menu .sub-menu>.menu-item>a {
    text-align: left;
}

.ed-slider,
.ed-breadcrumb {
    margin-top: -55px;
}


/*
 * AboutUs Section
*/

.edu-press-wrap {
    display: table;
    width: 100%;
}

.edu-press-wrap>* {
    display: table-cell;
    vertical-align: middle;
}

.ed-about-us.layout-2 .ed-about-content {
    position: relative;
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    padding-right: 30px;
}

.ed-about-us.layout-2 .ed-about-image {
    position: relative;
    float: none;
    width: 35%;
    right: 0;
    bottom: 0;
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header {
    color: #fff;
    background: #004a8d;
    margin-bottom: 10px;
    padding: 10px 35px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    outline: none;
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header:before {
    content: '\f067';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background: #004a8d;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 3px solid #fff;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    line-height: 30px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header.ui-accordion-header-active:before {
    content: '\f068';
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header.ui-state-active {
    margin-bottom: 0;
}

.ed-about-us.layout-2 .ed-about-list .ui-accordion-content {
    display: block;
    font-size: 16px;
    padding: 12px 25px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 1px 1px 16px 2px #cecece70;
}

.ed-about-us.layout-2.ed-accordin-layout .ed-about-list {
    padding: 0 15px;
}


/**
 * Slider Features Services Area
*/

.edu-section-wrapper.edu-features-wrapper {
    margin-top: -125px;
    z-index: 999;
    position: relative;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper {
    display: inline-block;
    vertical-align: top;
    /*width: 31.8%;
    margin-right:2%;*/
    margin: 0 -2px;
    margin-right: 3%;
    width: 31%;
    text-align: center;
    background: #004a8d;
    color: #fff;
    padding: 20px 30px;
    font-size: 18px;
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
    line-height: 1.6;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(3n) {
    margin-right: 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-1 {
    background: #f17d80 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-2 {
    background: #68a8ad none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-3 {
    background: #9c1472 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-4 {
    background: #737495 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-5 {
    background: #628e2a none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-6 {
    background: #6c8672 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper .icon-holder {
    font-size: 65px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    background-color: rgba(76, 76, 76, 0.25);
    border-radius: 50%;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper h3.post-title {
    margin-bottom: 10px;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper h3.post-title a {
    color: #fff;
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;
    position: relative;
}


/**
 * Responsive
*/

@media (max-width: 1250px) {
    .headerone .nav-menu .box-header-nav:before {
        background: #fff;
        content: "";
        height: 66px;
        left: 0;
        position: absolute;
        top: -30px;
        -webkit-transform: rotate(-38deg);
        -moz-transform: rotate(-38deg);
        -ms-transform: rotate(-38deg);
        -o-transform: rotate(-38deg);
        transform: rotate(-38deg);
        width: 66px;
    }

    .headerone .nav-menu .box-header-nav:after {
        background: #fff;
        content: "";
        height: 66px;
        position: absolute;
        right: 0;
        top: -30px;
        -webkit-transform: rotate(38deg);
        -moz-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
        -o-transform: rotate(38deg);
        transform: rotate(38deg);
        width: 66px;
    }

    .edu-section-wrapper.edu-features-wrapper {
        margin-top: -75px;
    }
}

@media (max-width: 1100px) {
    .header-middle-inner>* {
        display: block;
        text-align: center;
    }

    .header-middle-inner>*:not(:last-child) {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .headerone .bottom-header .contact-info {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .edu-section-wrapper.edu-features-wrapper {
        margin-top: -50px;
    }

    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper {
        width: 49%;
        margin-right: 2%;
    }

    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(3n) {
        margin-right: 2%;
    }

    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(2n),
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(4n),
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(6n),
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(8n) {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .headerone .nav-menu .box-header-nav {
        position: absolute;
    }

    .ed-slider,
    .ed-breadcrumb {
        margin-top: 0;
    }

    .headerone .nav-menu {
        background: #fff;
    }

    .headerone .box-header-nav>.main-menu {
        text-align: left;
    }

    .ed-slider.slider-layout-2 .lSAction>a {
        z-index: 1;
    }
}

@media (max-width: 860px) {
    .edu-section-wrapper.edu-features-wrapper {
        margin-top: 25px;
        z-index: 0;
    }

    .ed-slider .ed-slide div .ed-slider-info h2 {
        font-size: 40px;
    }

    .ed-slider .ed-slide div .ed-slider-info {
        top: 60%;
    }

    .ed-about-us.layout-2 .ed-about-content {
        padding-right: 0;
    }

    .edu-press-wrap>* {
        display: block;
        vertical-align: middle;
    }

    .ed-about-us.layout-2 .ed-about-image {
        width: 100%;
    }

    .ed-footer .ed-col-3 .ed-col {
        width: 48%;
        margin-right: 1%;
    }

    .ed-footer .ed-col-3 .ed-col:nth-child(3n) {
        margin-right: 1%;
    }
}

@media (max-width: 768px) {
    .header-middle-inner>*:not(:last-child) {
        margin-bottom: 0;
    }

    .headerone .bottom-header .contact-info .quickcontact .get-tuch {
        margin-left: 0;
        margin-bottom: 25px;
    }
}

@media (max-width: 570px) {
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper {
        width: 100%;
        margin-right: 0;
    }

    .ed-slider .ed-slide div .ed-slider-info h2 {
        font-size: 30px;
    }
}


/** learnpress */

.lp-archive-courses .learn-press-courses .course {
    border-radius: 0 0 6px 6px;
}

.lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-wrap-thumbnail .course-thumbnail .thumbnail img {
    border-radius: 6px 6px 0 0;
}

.lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
}

.lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content {
    text-align: center;
}

.lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info .course-footer .course-students .course-students-number,
.lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info .course-footer .course-students::before {
    font-size: 14px;
}

.lp-archive-courses .learn-press-courses .course .course-item .course-content .course-instructor {
    display: none;
}

.lp-archive-courses .learn-press-courses .course .course-item .course-content .course-instructor.lp-education-instructor {
    display: block;
}

.course-instructor.lp-education-instructor img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid white;
}

.lp-archive-courses .learn-press-courses[data-layout="list"] .course-instructor.lp-education-instructor {
    margin-top: -8px;
    position: relative;
    z-index: 1;
    margin-bottom: 0 !important;
    display: flex;
    gap: 1em;
    align-items: center;
}

.lp-archive-courses .learn-press-courses[data-layout="grid"] .course-instructor.lp-education-instructor {
    float: unset !important;
    margin-top: -36px;
    position: relative;
    z-index: 1;
}

.lp-archive-courses .learn-press-courses .course .course-item .course-content .course-instructor a {
    color: black;
}

.lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info {
    position: relative;
}

.lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info::before {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: auto;
    background: #000;
    background-color: rgb(0, 0, 0);
    z-index: 10;
}

.lp-archive-courses .learn-press-courses[data-layout="list"] .course {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.2);
}


/** couse single page */

.lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner .course-sidebar-secondary {
    padding: 0 15px;
}


/** single page breadcrumb */

.single-lp_course .ed-breadcrumb {
    display: none;
}

.lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    margin-top: -55px;
    padding-top: 120px;
    padding-bottom: 35px;
    position: relative;
}

.course-summary .course-summary-sidebar.slide-top .course-summary-sidebar__inner {
    position: relative;
}

.lp-archive-courses .course-summary .course-summary-content .course-detail-info .lp-content-area * {
    z-index: 1;
    position: relative;
}

.lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    position: relative;
}

.lp-archive-courses .course-summary .course-summary-content .course-detail-info:before {
    content: "";
    background: rgba(0, 0, 0, 65%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner .learn-press-course-wishlist {
    padding: 10px !important;
}

.lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner .learn-press-course-wishlist::before {
    font-size: 16px;
}

.wrapper-profile-header.wrap-fullwidth {
    margin: 0;
}

.become-teacher-fields.form-fields li,
.learn-press-login li,
.learn-press-filters li,
.lp-profile-nav-tabs ul li {
    list-style-type: none;
}

.learn-press-courses.profile-courses.courses-list.learn-press-wishlist-courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.learn-press-courses.profile-courses.courses-list.learn-press-wishlist-courses li {
    list-style-type: none;
    padding: 15px;
}

.ed-testimonials .ed-testimonial-wrap.layout-1 .ed-test-slide .ed-text-holder {
    border-radius: 10px 10px 80px;
}

section.ed-gallery .ed-gallery-wrapper .ed-gallery-item .ed-gallery-item-wrapper img {
    border-radius: 80px 0;
}

.ed-gallery .ed-gallery-wrapper .ed-gallery-item:hover .caption {
    border-radius: 80px 0 0 0;
}

#checkout-account-register .form-field label {
    width: 150px;
    float: left;
}

.nav-next a {
    justify-content: end;
}

.ed-content-wrap ul ul {
    padding-left: 0;
    margin-top: 0;
}

.comment-content a:not(.ed-button),
.ed-blog .ed-blog-wrap .ed-blog-col .ed-content-wrap a:not(.ed-button) {
    text-decoration: underline;
}

.page-template-full-width .ed-about-us.layout-1 {
    margin-top: -50px;
}

@media(max-width: 900px) {
    .site-branding.logo {
        display: block !important;
    }
}